{% extends 'admin/base.html.twig' %}

    {% block title %}Administration des commentaires{% endblock %}

    {% block body %}
        <div class="container-fluid">
            <h1 class="my-5">Gestion des commentaires</h1>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Auteur</th>
                    <th>Commentaire</th>
                    <th>Note</th>
                    <th>Annonce</th>
                    <th>Supprimer</th>
                </tr>
                </thead>

                <tbody>

                {% for comment in comments %}
                    <tr>
                        <td>{{comment.createdAt|date('d/m/Y H:i')}}</td>
                        <td><img src="{{comment.author.picture}}" alt="" class="avatar avatar-micro"> {{comment.author.fullName}}</td>
                        <td>{{comment.content}}</td>
                        <td>
                            <span class="badge badge-dark">{{comment.rating}}</span>
                        </td>
                        <td>{{comment.ad.title}}</td>
                        <td>  <a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" data-confirm="Etes-vous certain de vouloir supprimer ce commentaire ?" class="btn btn-danger" id="alert">
                                <i class="fas fa-trash"></i>
                            </a></td>
                    </tr>
                {% endfor %}

                </tbody>

            </table>

        </div>
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('admin_comment_index', {'page': page - 1}) }}">&laquo;</a>
                </li>
                {% for i in 1..pages %}
                    <li class="page-item {% if page == i %}active{% endif %}">
                        <a class="page-link" href="{{ path('admin_comment_index', {'page': i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if page == pages %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('admin_comment_index', {'page': page + 1}) }}">&raquo;</a>
                </li>
            </ul>
        </div>
    {% endblock %}

    {% block javascripts %}

        <script src="{{ asset('build/js/confirmModal.js') }}"></script>

    {% endblock %}
