{% extends 'base.html.twig' %}

    {% block title %} Bienvenue sur le meilleur réseau de location de yachts et bateaux. {% endblock %}

    {% block body %}
{#        {{ dump(ads) }}#}

        <div class="container">

            <div class="jumbotron main-jumbotron">

                <h1 class="display-3 main-title">Bienvenue sur GlobeBoat</h1>

                <p class="lead">Vous êtes un particulier ou une professionnel et vous souhaitez louer un yacht à la journée ou pour plusieurs jours, GlobeBoat met à votre disposition plus de 200 yachts. </p>
                <hr class="my-2">
                <p class="h5 pt-2">Découvrez sur notre site, notre catalogue de yachts à la location sur toute la côte européene.</p>
                <p class="lead pt-5">
                    <a class="btn btn-primary btn-lg" href="{{ path('ads_index') }}" role="button">Voir notre catalogue</a>
                </p>

            </div>

            <h2 class="h1 my-2">Nos meilleurs yachts</h2>

            <div class="bottom-scroll down">
                <div class="scroll-down d-none d-lg-block">
                    <a class="down"  href="#" >
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                    </a>
                </div>
            </div>

            <div class="row">
                {% for data in ads %}
                    {% include 'ad/_ad.html.twig' with {'ad': data.annonce} %}
                {% endfor %}
            </div>

            <h2 class="h1 mt-3 mb-4"><strong>Nos meilleurs propriétaires </strong></h2>

            <div class="row">
                {% for data in users %}
{#                    {{ dump(users) }}#}
                    <div class="col">
                        <div class="card border-secondary mb-3">
                            <div class="card-body">
                                <h4 class="card-title">{{data.user.fullName}}</h4>
                                <hr>
                                <div class="card-text">
                                    <img src="{{data.user.picture}}" alt="Avatar de {{data.user.fullName}}" class="float-left mr-3">
                                    <p>{{data.user.introduction|truncate(45)}}</p>
                                    <a href="{{ path('user_show', {'slug': data.user.slug})}}" class="btn btn-success float-right">En savoir plus!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}

        <script src="{{ asset('build/js/scrollDown.js') }}"></script>

    {% endblock %}
