{% set url = path('ads_show', {'slug': ad.slug}) %}

<div class="col-md-4">

    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            {{ ad.rooms }} cabines, <strong>{{ ad.price }}&euro; / semaine</strong>
            <br>
            <small>Pas encore noté</small>
        </div>
        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="bateau" style="height: 200px; width: 100%; display: block;">
        </a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ url}}">{{ ad.title }}</a>
            </h4>
            <p class="card-tex">
                {{ ad.introduction }}
            </p>
            <a href="{{ url }}" class="btn btn-secondary">En savoir plus</a>
        </div>
    </div>

</div>
