{% extends 'base.html.twig' %}

    {% block title %}Notre catalogue{% endblock %}

    {% block body %}

        <div class="down"></div>

        <div class="container">

        <h1 class="my-4 pt-2 text-center ">Location de yachts</h1>

        <hr>

        <h5 class="text-center" >Si aucun de ces yachts ne répondent à vos attentes, veuillez nous contacter au 04 05 05 05 05</h5>
        <hr>

        <div class="row">

            {% for ad in ads %}

                {% include 'ad/_ad.html.twig' %}

            {% endfor %}

        </div>

    </div>

        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('ads_index', {'page': page - 1}) }}">&laquo;</a>
                </li>
                {% for i in 1..pages %}
                    <li class="page-item {% if page == i %}active{% endif %}">
                        <a class="page-link" href="{{ path('ads_index', {'page': i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if page == pages %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('ads_index', {'page': page + 1}) }}">&raquo;</a>
                </li>
            </ul>
        </div>

    {% endblock %}

{% block javascripts %}

    <script src="{{ asset('build/js/scrollDown.js') }}"></script>

{% endblock %}
